html {
	margin: 0;
	padding: 0;
}
.phone {
	padding-top: 70px
	flex-basis: 454px;
	height: 618px;
	float: right;
	margin-left: -35px;
	margin-right: -15px;
}

body {
	background-color: #fafafa!important;
}
.container {
	margin-top: 5px;
}
.right-column{
	background:#ffffff;
	border: 1px solid #e6e6e6;
	width: 350px;
	margin: 10px;
	padding: 40px;
}
.instagram{
	margin: 15px auto;
	background-position: 0 -130px;
    height: 51px;
    width: 175px;
}
.text-for-member{
	font-weight: 600px;
	line-height: 20px;
	font-size: 17px;
	color: #999;
}
button img{
	height: 18px !important;
	padding: 0 8px 2px;
}
.or {
	font-size: 13px !important;
	color #999;
	font-weight: 600;
}
.or::before {
	content: '';
	background: #efefef;
	display: block;
	height: 2px;
	width: 110px;
	position: relative;
	top: 11px;
}
.or::after{
	content:'';
	background: #efefef;
	display: block;
	height: 2px;
	width: 110px;
	position: relative;
	bottom: 10px;
	left: 160px;
}
.form-group {
	margin-bottom: 6px!important;
}
.form-control{
	background: #f1f1f1!important;
	border: 1px solid #efefef;
	font-size: 12px!important;
}
::placeholder {
	color: #999!important;
}
.btn {
	margin: 12px auto;
	padding: 2px!important;
	font-weight: 600!important;
}
.btn-primary {
	background-color: #3897f0!important;
	border: 1px solid #3897f0!important;
}
.site-rule{
	line-height: 18px;
	font-size: 14px;
	color: #999;
	margin: 5px 20px;
}
.apps-text {
	font-size: 14px !important;
	line-height: 18px;
    margin: 10px 20px 10px 20px;
	color: #000;
	font-weight: 400;
	margin: 10px;
	padding: 20px;
	position: relative;
	bottom: 10px;
	left: 125px;
}
.apps {
	position: relative;;
	margin-top: -20px;
	left: 50px;
}
.apps img{
	width: 140px;
	height: 40px;
}
.right-column-login{
	background: #fff;
	border: 1px solid #e6e6e6;
	width: 350px;
	margin: 10px;
	padding: 20px;
	font-size: 14px;
}
.right-column-login a:bover{
	text-decoration: none;
}